.Featured-Item-One {
  background-color: #D87D4A;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.Featured-Item-Image {
  background-image: url('/src/assets/images/speakers.png');
  background-repeat: no-repeat;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  background-size: contain;
}

.Featured-Item-One-Description > h4 {
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 58px;
  z-index: 2;
}
.Featured-Item-One-Description > p {
  color: white;
  font-family: "Manrope";
  z-index: 2;
}

.Featured-Item-One-Description > a > button{
  border-radius: 0;
  background-color: #000000;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1px;
  line-height: normal;
  padding: 15px 30px;
  z-index: 2;
  box-sizing: border-box;
}

.Featured-Item-One-Description > a > button:hover {
  background-color: transparent;
  border: 1px solid black;
}

.Featured-Item-One a {
  text-decoration: none;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1px;
  line-height: normal;
  z-index: 2;
  border-radius: 0;
}

.Circle {
  border: 1px solid rgba(251, 251, 251, 0.3);
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.Featured-Item-One-Circle1 {
  width: 1100px;
  height: 1100px;
  top: 0;
  left: -200px;
}

.Featured-Item-One-Circle2 {
  width: 650px;
  height: 650px;
  bottom: -200px;
  left: 40px;
}

.Featured-Item-One-Circle3 {
  width: 570px;
  height: 570px;
  bottom: -160px;
  left: 80px;
}


@media screen and (min-width: 600px) {
  .Featured-Item-One {
    padding: 30px 0 30px 0;
    gap: 30px;
  }
 .Featured-Item-One-Description {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .Featured-Item-One-Description > h4 {
    font-size: 40px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    margin-bottom: 15px;
  }
  .Featured-Item-One-Description > p {
    font-size: 13px;
    width: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
  }
  .Featured-Item-One-Description > a > button{
    font-size: 11px;
  }
  .Featured-Item-Image {
    position: static;
    margin: 0 auto;
    height: 250px;
    background-position: center;
  }
  .Featured-Item-One-Circle1 {
    width: 800px;
    height: 800px;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Featured-Item-One-Circle2 {
    width: 500px;
    height: 500px;
    bottom: 170px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .Featured-Item-One-Circle3 {
    width: 450px;
    height: 450px;
    bottom: 195px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.FeaturedItemTwo {
  background-image: url('../../assets/images/Bitmap.png');
  margin-top: 50px;
  border-radius: 8px;
  background-size: cover;
  background-position: right;
  padding-left: 130px;
  box-sizing: border-box;
  background-color: red;
  height: 350px;
}

.FeaturedItemTwo > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.FeaturedItemTwo > div > a > button {
  border: 1px solid;
  border-color: #000000;
  height: 48px;
  position: relative;
  width: 160px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0;
}

.FeaturedItemTwo > div > a > button:hover {
  background-color: black;
  color: white;
}

.FeaturedItemTwo > div > h4 {
  color: #000000;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2px;
  line-height: normal;
}

.Featured-Item-Three {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  height: 350px;
}

.Featured-Item-Three div {
  border-radius: 8px;
}

.Featured-Item-Three-Earphones {
  background-image: url('../../assets/images/earphones-bitmap.png');
  background-position: center;
  background-size: cover;
  width: 100%;
}

.Featured-Item-Three > div:nth-child(2) {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding-left: 95px;
  box-sizing: border-box;
  width: 100%;
}

.Featured-Item-Three > div:nth-child(2) h4 {
  color: #000000;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: normal;
}

.Featured-Item-Three > div:nth-child(2) > a > button {
  border: 1px solid;
  border-color: #000000;
  height: 48px;
  position: relative;
  width: 160px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0;
}

.Featured-Item-Three > div:nth-child(2) > a > button:hover {
  background-color: black;
  color: white;
}


@media screen and (min-width: 1200px) {
  .Featured-Item-One {
    padding: 90px 0 90px 150px;
    gap: 0;
    box-sizing: border-box;
  }
  .Featured-Item-One-Description {
    text-align: left;
    z-index: 2;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
  }
  .Featured-Item-One-Description > h4 {
    font-size: 40px;
    text-align: left;
    word-wrap: 'break-word';
    margin-bottom: 24px;
    margin: 0;
    width: 100px;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
    margin-bottom: 20px;
    transform: translate(0, 0);
  }
  .Featured-Item-One-Description > p {
    font-size: 13px;
    text-align: left;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 40px;
    word-wrap: break-word;
    width: 350px;
    margin: 0;
    transform: translate(0, 0);
    margin-bottom: 20px;
  }
  .Featured-Item-One-Description > a > button{
    font-size: 11px;
    margin: 0;
  }
  .Featured-Item-Image {
    height: 450px;
    background-position-x: left;
    background-position-y: bottom;
    position: relative;
    top: 120px;
    height: 500px;
  }
  .Featured-Item-One {
    padding: 80px 0 80px 50px;
  }
  .Featured-Item-One-Circle1 {
    width: 1100px;
    height: 1100px;
    top: 0;
    left: -300px;
    transform: translate(0, 0);
  }
  .Featured-Item-One-Circle2 {
    width: 650px;
    height: 650px;
    bottom: -220px;
    left: -40px;
    transform: translate(0, 0);
  }
  .Featured-Item-One-Circle3 {
    width: 570px;
    height: 570px;
    bottom: -180px;
    left: 0px;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 1536px) {
  .Featured-Item-One-Description > h4 {
    font-size: 56px;
  }
  .Featured-Item-One-Description > p {
    font-size: 15px;
  }
  .Featured-Item-One-Description > a > button{
    font-size: 13px;
  }
  .Featured-Item-Image {
    height: 500px;
  }
  .Featured-Item-One {
    padding: 90px 0 90px 150px;
  }
  .Featured-Item-One-Circle1 {
    top: 0;
    left: -200px;
  }

  .Featured-Item-One-Circle2 {
    bottom: -200px;
    left: 40px;
  }

  .Featured-Item-One-Circle3 {
    bottom: -160px;
    left: 80px;
  }
}
