body.active-modal {
  overflow-y: hidden;
  width: calc(100% - 8px);
}

.Visible {
  visibility: visible;
}

.Hidden {
  visibility: hidden;
}

.Modal-Overlay {
  z-index: 2;
}

.Modal-Wrapper {
  z-index: 3;
}

.Modal-Overlay, .Modal-Wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.Modal-Overlay {
  background: rgba(49,49,49,0.8);
}

.Cart {
  position: absolute;
  right: -800px;
  line-height: 1.4;
  height: 100%;
  background: white;
  padding: 16px 20px;
  box-sizing: border-box;
  min-width: 300px;
  z-index: 2;
  transition: all 0.5s ease-out;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.Populated-Cart {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

.Cart-Close-Icon {
  align-self: flex-end;
}

.Cart-Close-Icon > button {
  width: 40px !important;
  display: flex;
  justify-content: flex-end;
}

.HideCart {
  right: -800px;
}

.ShowCart {
  width: 100%;
  right: 0;
}

.Cart-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.Cart-Header > p {
  font-size: 18px;
  font-weight: bold;
}

/* .Cart-Header > button {
  padding: 0;
  color: #000;
  opacity: 0.5;
  text-transform: capitalize;
} */

.Cart-Header > button:hover {
  text-decoration: underline;
}

.Cart-Items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.Cart-Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart-Item-Image {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}

.Cart-Controls {
  display: flex;
  width: 50%;
  height: 100%;
  padding-left: 10px;
}

.Cart-Left {
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  align-items: center;
}

.Cart-Left h5 {
  font-size: 15px;
  font-weight: bold;
}

.Cart-Left span {
  color: black;
  opacity: 0.5;
  font-weight: 500;
  font-size: 15px;
}
.Cart-Info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Cart-Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart-Total > h6 {
  font-weight: bold;
  font-size: 16px;
}

.Cart-Total > p {
  font-size: 16px;
}

.Empty-Cart {
  display: flex;
  flex-direction: column;
  font-family: "Manrope-Regular", Helvetica;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}

.Empty-Cart-Header {
  display: flex;
  align-items: center;
}

.Empty-Cart-Header > h5 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  opacity: 0.9;
  padding: 16px 16px;
  width: 85%;
  text-align: center;
}

.Empty-Cart > p {
  font-family: "Manrope-Regular", Helvetica;
  opacity: 0.6;
  text-align: center;
  padding: 16px 28px;
}

.Empty-Cart-Image {
  display: flex;
  justify-content: center;
  padding: 16px 28px;
}

.Empty-Cart-Image > img {
  width: 150px;
  opacity: 0.8;
  margin-top: 20px;
}

.Empty-Cart-Header {
  background-color: #d87d4a;
  height: 50px;
  text-align: left;
}

.Cart-Controls {
  display: flex;
  flex-direction: column;
}

.Cart-Buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.Cart-Button {
  background-color: #d87d4a !important;
  height: 50px;
  width: 100%;
  margin-top: 10px;
}

.Clear-Cart {
  background-color: rgb(229, 229, 229) !important;
  color: black !important;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) !important;
}

.Empty-Cart-Close-Icon {
  position: absolute;
  right: 0;
}

@media (min-width: 900px) {
  .ShowCart {
   width: 380px;
  }
  .Populated-Cart {
    flex-direction: column;
  }
  .Cart-Controls {
    flex-direction: column;
    width: 100%;
  }
  .Cart-Total {
    margin-top: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .Cart-Items {
    border: none;
  }
}