.Collection {
  padding: 50px 20px 0 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 600px) {
 .Collection {
    padding: 50px 100px 0 100px;
  }
}

@media screen and (min-width: 900px) {
 .Collection {
    padding: 50px 100px 0 100px;
  }
}

@media screen and (min-width: 1200px) {
 .Collection {
    padding: 80px 120px 0 120px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1536px) {
 .Collection {
    padding: 80px 200px 0 200px;
  }
   .collection-grid-item {
    padding-left: 0 !important;
   }
}

@media (max-width: 896px) and (orientation: landscape) {
  .collection-grid-item {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}

@media  (max-width: 667px) and (orientation: landscape) {
  .Collection {
    padding: 20px 50px 0 50px;
  }
}