.Collection {
  padding: 50px 20px 0 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 600px) {
 .Collection {
    padding: 50px 100px 0 100px;
  }
}

@media screen and (min-width: 900px) {
 .Collection {
    padding: 50px 100px 0 100px;
  }
}

@media screen and (min-width: 1200px) {
 .Collection {
    padding: 80px 120px 0 120px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1536px) {
 .Collection {
    padding: 80px 200px 0 200px;
  }
}

@media screen and (min-width: 1700px) {

}