.Article {
  padding: 50px 20px 50px 20px;
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

 .Article-Top {
   box-sizing: border-box;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 60px;
 }

.Article-Gallery {
  padding: 0 !important;
} 

.Article-Title {
  width: 100%;
  position: relative;
}

.Article-Title > h4{
  font-weight: bold;
  width: 100%;
  font-size: 27px;
  text-align: center;
}

.Article-Description {
  width: 100%;
  background-color: rgb(255, 253, 253);
  border-radius: 8px;
  padding: 40px 20px;
  box-sizing: border-box;
  height: min-content;
  border: 1px solid rgb(237, 231, 231);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Article-Description > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  text-align: left;
  font-size: 15px;
  width: 100%;
  line-height: 1.7;
}

.Article-Price-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.Article-Price {
  background-color: #D87D4A;
  height: auto;
  padding: 5px 14px;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 4px;
  display: inline-block;
}
.Article-Price > h4 {
  font-size: 20px !important;
  padding: 8px 20px;
}

.Article-Title > .New-Product-Flag {
  position: absolute;
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: normal;
  top: -15px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.Article-In-Additional-Info-Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Article-Controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Article-Controls-Form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.Article-Quantity-Input-Container {
  align-self: flex-end;
  width: 100%;
}

.Article-Controls > button {
  padding: 10px 20px;
  width: 100%;
  background-color: #d87d4a;
}

.Article-Benefits-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.Article-Benefits {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Available-Quantity {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
}

.Article-Info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Article-Features {
  width: 100%;
}

.Article-Features > h4, .In-Box > h4 {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.43px;
  line-height: 44px;
  margin-bottom: 32px;
  text-align: left;
}

.Article-Features > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 40px;
  font-size: 14px;
  width: 100%;
}

.In-Box-Items {
  display: flex;
  gap: 24px;
}

.In-Box-Items p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
}

.In-Box-Items p:nth-child(1) {
  color: #D87D4A;
  font-weight: 700;
}

.Article-Spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Article-Id {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  text-align: left;
  width: 100%;
}
.Article {
  padding: 30px 30px 30px 30px;
}
.Article-Price > h4 {
  font-size: 25px;
  padding: 8px 20px;
}
.Article-Info {
  gap: 100px;
  flex-direction: row;
}
.Article-Features {
  max-width: 300px;
}
.Article-Title > h4 {
  text-align: left;
}
.Article-Title > .New-Product-Flag {
  text-align: left;
}
.Article-Description > p {
  text-align: start;
}

@media screen and (min-width: 900px) {
 .Article {
    padding: 50px 100px 50px 100px;
  }
  .Article-Top {
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
  }
  .Article-Features {
    max-width: 350px;
  }
  .Article-Description {
    width: 100%;
   }
   .Article-Price-Container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
   }
  .Article-Controls-Form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .Article-Benefits-Container {
    flex-direction: row;
    gap: 20px;
  }
  
  .Article-Controls {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .Article {
    padding: 80px 120px 80px 120px;
  }
  .Article-Quantity-Input-Container {
    margin-left: auto;
    width: unset;
  }
  .Article-Title > h4 {
    font-size: 32px;
    line-height: 1.2;
  }
  .Article-Features > p {
    width: 500px;
  }
  .Article-Features {
    max-width: 500px;
  }
  .Article-Description {
    width: 50%;
    padding: 50px 40px;
  }
}


@media screen and (min-width: 1536px) {
  .Article {
    padding: 80px 200px 80px 200px;
    gap: 60px;
  }
  .Article-Features {
    max-width: 550px;
  }
       .Article-Price-Container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
   }
}