.Article {
  padding: 50px 20px 50px 20px;
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

 .Article-Top {
   box-sizing: border-box;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 60px;
 }

.Article-Gallery {
  padding: 0 !important;
  border-top: 3px solid #d87d4a;
} 

.Article-Title {
  width: 100%;
  position: relative;
}

.Article-Title > h4{
  font-weight: bold;
  width: 100%;
  font-size: 27px;
  text-align: center;
}

.Article-Description {
  width: 100%;
  background-color: rgb(255, 253, 253);
  padding: 40px 20px;
  box-sizing: border-box;
  height: min-content;
  /* border: 1px solid rgb(237, 231, 231); */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.Article-Description > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  text-align: left;
  font-size: 15px;
  width: 100%;
  line-height: 1.7;
}

.Article-Additional-Info-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.Article-Price {
  border: 1px solid #D87D4A;
  color: #d87d4a;
  margin-top: 20px;
  border-radius: 4px;
  display: inline-block;
  /* width: 124px; */
  width: max-content;
}
.Article-Price > h4 {
  font-size: 20px !important;
  padding: 8px 20px;
}

.Article-Title > .New-Product-Flag {
  position: absolute;
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: normal;
  top: -15px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.Article-In-Additional-Info-Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Article-Controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Article-Controls-Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.Article-Quantity-Input-Container {
  align-self: flex-end;
  width: 100%;
}

.Article-Controls > button {
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  color: #d87d4a;
  font-weight: 600;
  border: 2px solid #d87d4a;
  box-shadow: none;
}

.Article-Controls > button:hover {
  background-color: #d87d4a;
  color: white;
}

.Article-Benefits-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.Article-Benefits {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Available-Quantity {
  color: #000;
  opacity: 0.6;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
}

.Article-Info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Article-Features {
  width: 100%;
}

.Article-Features > h4, .In-Box > h4 {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.43px;
  line-height: 44px;
  margin-bottom: 32px;
  text-align: left;
}

.Article-Features > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 40px;
  font-size: 14px;
  width: 100%;
}
.Article-In-Box-Items-Container {
  display: flex;
  flex-direction: column;
}

.In-Box-Items {
  display: flex;
  gap: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.In-Box-Items p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
}

.In-Box-Items p:nth-child(1) {
  color: #D87D4A;
  font-weight: 700;
}

.Article-Spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Article-Id {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  text-align: left;
  width: 100%;
}
.Article {
  padding: 50px 10px 50px 10px;
}
.Article-Price > h4 {
  font-size: 25px;
  padding: 8px 20px;
}
.Article-Info {
  gap: 100px;
  flex-direction: row;
}
.Article-Features {
  max-width: 300px;
}
.Article-Title > h4 {
  text-align: left;
}
.Article-Title > .New-Product-Flag {
  text-align: left;
}
.Article-Description > p {
  text-align: start;
}

.swiper-pagination-bullet {
  background-color: #d87d4a !important;
}

@media screen and (min-width: 900px) {
  .Article-Top {
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
  }
  .Article-Gallery {
    width: 500px;
  }
  .Article-Features {
    max-width: 350px;
  }
  .Article-Description {
    width: 100%;
   }
   .Article-Additional-Info-Container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
   }
  .Article-Controls-Form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .Article-Benefits-Container {
    flex-direction: row;
    gap: 20px;
  }
  
  .Article-Controls {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .Article {
    padding: 50px 120px 50px 120px;
  }
  .Article-Quantity-Input-Container {
    margin-left: auto;
    width: unset;
  }
  .Article-Title > h4 {
    font-size: 32px;
    line-height: 1.2;
  }
  .Article-Features > p {
    width: 500px;
  }
  .Article-Features {
    max-width: 500px;
  }
  .Article-Description {
    width: 50%;
    padding: 50px 40px;
  }
  .Article-Controls {
    align-items: flex-end;
  }
  .Article-Controls > button  {
    width: 40%;
  }
}


@media screen and (min-width: 1536px) {
  .Article {
    padding: 50px 200px 50px 200px;
  }
  .Article-Features {
    max-width: 550px;
  }
  .Article-Additional-Info-Container {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  .Article-Description {
    /* height: 700px; */
    box-sizing: content-box;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .Article {
   padding: 30px;
  }
  .Article-Description {
    padding: 40px 10px;
  }
   .Article-Top {
    gap: 20px;
    flex-direction: column;
  }
  .Article-Controls-Form {
    flex-direction: column;
  }
}
@media (min-width: 800px) and (max-width: 920px) and (orientation: landscape) {
  .Article {
    padding: 50px 10px;
  }
  .Article-Description {
    padding: 40px 10px;
  }
  .Article-Top {
    gap: 20px;
    flex-direction: row;
  }
  .Article-Controls-Form {
    flex-direction: column;
  }
}
