.Article-Container{
  padding: 0 122px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.Article-Controls-Form {
  display: flex;
  gap: 16px;
  height: 50px;
}

.Article-Controls-Form > .Article-Input {
  height: 50px;
  width: 162px;
  padding: 0 10px;
  border-radius: 0;
  box-sizing: border-box;
}

.Article-Controls > h6 {
  font-size: 17px;
  margin-top: 10px;
  font-family: "Manrope-Bold", Helvetica;
  opacity: 0.6;
}

.Article-Controls > h6 > span {
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 500;
}

.Add-Article {
  background-color: #d87d4a;
  color: #ffffff;
  height: 100%;
  width: 162px;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.Add-Article:hover {
  background-color: #FBAF85;
}

.Add-Article:disabled {
  background-color: #867b76;
  cursor: unset;
}

.Article-Info {
  display: flex;
  justify-content: space-around;
}

.Article-Features {
  width: 50%;
}

.Article-Features > h4, .In-Box > h4 {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.43px;
  line-height: 44px;
  width: 445px;
  margin-bottom: 32px;
}

.Article-Features > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  width: 445px;
  margin-bottom: 40px;
}

.In-Box-Items {
  display: flex;
  gap: 24px;
}

.In-Box-Items p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.5;
}

.In-Box-Items p:nth-child(1) {
  color: #D87D4A;
  font-weight: 700;
}

.Article-Spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article-Gallery {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 600px;
  /* background-color: red; */
}

.Article-Gallery-Left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.Article-Gallery-Top, .Article-Gallery-Bottom {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.Article-Gallery-Right {
  width: 100%;
  height: 100%;
}

.Article-Gallery-Right {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.You-May-Also-Like {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.You-May-Also-Like > h5 {
  margin-bottom: 140px;
  color: #000000;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.14px;
  line-height: 36px;
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 0.5;
}


