
.Promoted {
  padding: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: calc(100vh - 50px);
  height: 100%;
  padding-bottom: 20px;
}

.Home-Header-Image-Container {
  background-image: url('/src/assets/images/products/xx99II/cover.png');
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  height: 350px;
  width: 620px;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  order: -1;
}

.Promoted-Info {
  justify-self: center;
  text-align: center;
}

.Promoted-Info-Text {
  justify-self: center;
  text-align: center;
  word-wrap: break-word;
  padding: 0 10px;
  text-align: center;
}

.Promoted-Info > .New-Product{
  color: #ffffff;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: normal;
  opacity: 0.5;
}

.Promoted-Info-Text h4 {
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 48px;
  font-weight: bold;
  /* text-transform: uppercase; */
  margin: 24px 0;
}

.Promoted-Info-Text p {
  color: #ffffff;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.75;
  margin-bottom: 40px;
}

.Promoted-Info button {
  background-color: transparent;
  border: 1px solid #D87D4A;
  color: #D87D4A;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Manrope';
  letter-spacing: 1;
  width: 90%;
  border-radius: 5px;
}

.Promoted-Info button:hover {
  background-color: #D87D4A;
  color: black;
  /* border-color: black; */
}

.Promoted-Info-Paragraph {
  text-align: center;
}
.Promoted-Info button a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 900px) {
  .Promoted {
    min-height: calc(100vh - 70px);
    height: 100%;
  }
  .Promoted-Info-Text {
    margin: 0 auto;
  }
  .Home-Header-Image-Container {
    height: 400px;
  }
  .Promoted-Info button {
    width: 50%;
  }
  .Promoted-Info-Text {
    width: 550px;
    padding: unset;
  }
}

@media screen and (min-width: 1200px) {
  .Promoted {
    padding: 0 100px;
    justify-content: space-around;
  }
  .Promoted-Info {
    text-align: left;
  }
  .Promoted-Info-Text {
    justify-self: left;
    text-align: left;
    margin: unset;
  }
 .Home-Header-Image-Container {
   position: relative;
   z-index: 0;
   right: -80px;
   bottom: 60px;
   order:unset;
   background-position-x: right;
   background-position-y: center;
   height: 800px;
  }
  .Promoted-Info button {
    width: 70%;
  }
  .Promoted-Info-Text p {
    width: 349px;
    text-align: start;
}
}

@media screen and (min-width: 1536px) {
  .Promoted {
    min-height: calc(100vh - 70px);
    height: 100%;
    padding: 0 200px;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .Promoted {
    height: calc(100vh - 55px);
    padding: 30px 20px 0 20px;
    justify-content: space-between;
    align-items: start;
  }
  .Promoted-Info {
    text-align: left;
    padding-bottom: 0;
  }
  .Promoted-Info-Text {
    text-align: left;
    width: 100%;
    max-width: 300px;
    padding: 0;
  }
  .Promoted-Info-Text h4 {
    font-size: 22px;
    line-height: 26px;
    margin: 12px 0;
  }
  .Promoted-Info-Text p {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 16px;
    text-align: left;
    width: 100%;
  }
  .Promoted-Info button {
    width: 70%;
  }
  .Home-Header-Image-Container {
    order: unset;
    height: 100%;
    width: 40%;
    background-position-x: right;
    background-position-y: top;
  }
}

@media (max-width: 390px) {
  .Home-Header-Image-Container {
    height: 250px;
  }
    .Promoted-Info-Text h4 {
    font-size: 30px;
    line-height: 26px;
    margin: 12px 0;
  }
}

@media (min-width: 701px) and (max-width: 900px) and (orientation: landscape) {
  .Promoted {
    height: 100vh;
    padding: 30px 22px 0 22px;
    gap: 30px;
    align-items: flex-start;
  }
  .Promoted-Info {
    text-align: left;
    padding-bottom: 0;
  }
  .Promoted-Info-Text {
    text-align: left;
    width: 100%;
    max-width: 300px;
    padding: 0;
  }
  .Promoted-Info-Text h4 {
    font-size: 28px;
    line-height: 32px;
    margin: 16px 0;
  }
  .Promoted-Info-Text p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  .Promoted-Info button {
    width: 60%;
  }
  .Home-Header-Image-Container {
    order: unset;
    width: 300px;
    /* height: 100%;
    width: 50%; */
    background-position-x: right;
    background-position-y: top;
    position: relative;
    bottom: 50px;
  }
}