.Featured-Item-Three {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.Featured-Item-Three div {
  border-radius: 8px;
  height: 300px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.Featured-Item-Three-Image-Container {
  background-image: url('../../assets/images/earphones-bitmap.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #1d1d1d;
}

.Featured-Item-Three-Info {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-left: 95px;
  box-sizing: border-box;
  padding: 35px;
  width: 100%;
}

.Featured-Item-Three-Info h4 {
  color: #000000;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: normal;
}

.Featured-Item-Three-Info > a > button {
  border: 1px solid;
  border-color: #000000;
  height: 48px;
  position: relative;
  width: 160px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0;
}

.Featured-Item-Three-Info > a > button:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 900px) {
 .Featured-Item-Three {
    flex-direction: row;
    gap: 48px;
  }
  .Featured-Item-Three-Image-Container {
    width: 50%;
  }
  .Featured-Item-Three-Info {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .Featured-Item-Three div {
    height: 350px;
  }
}

@media screen and (min-width: 1536px) {
  .Featured-Item-Three div {
    height: 400px;
  }
  
}