.Categories-Swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}

.Categories-Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.Category-Link-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #afa8a8;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.Category-Image-Container {
  /* height: 330px; */
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  aspect-ratio: 4/4;
  background-color: white;
}

.Category-Information-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #eea073;
  background-color: #ede9e9;
  background-color: rgb(241, 239, 238);
  color: white;
  color: #683d24;
  padding: 0 10px;
  border-top: 1px solid #000;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.Category-Information{
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.Category-Information-Container > span:nth-child(1) {
  font-weight: bold;
}

.Category-Link-Container:hover .Category-Information-Container > span:nth-child(1) {
  font-weight: normal;
}


.Category-Link-Container:hover .Category-Information-Container {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-top: none;
  color: #000;
  opacity: 0.9;
  bottom: 0;
}

.Category-Link-Container:hover .Category-Information:last-child {
  font-size: 22px;
  font-weight: 700;
  color: #d87d4a;
}

.Category-Swiper-Slide {
  padding-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #666;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: #666 !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.mySwiper {
  padding-bottom: 20px;
}

.Categories-Container .swiper-pagination-progressbar {
  top: auto !important;
  bottom: 0 !important;
}

.swiper-pagination-progressbar {
  background: #ddd;
  height: 4px;
}

.Categories-Container .swiper-pagination-progressbar-fill {
  background: #d87d4a !important;
  background: black !important;
}

.Categories-Tabs button{
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .Categories-Swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
 
  }
  .Category-Image-Container {
    width: 100%;
    /* height: 230px; */
  }
}

@media screen and (min-width: 900px) {
  .Category-Image-Container {
    width: 100%;
    /* height: 230px; */
  }
}

@media screen and (min-width: 1200px) {
  .Category-Image-Container {
    width: 100%;
    /* height: 230px; */
  }
}

@media screen and (min-width: 1600px) {
  .Category-Image-Container {
    width: 100%;
    /* height: 280px; */
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .Category-Image-Container {
    width: 100%;
    /* height: 220px; */
  }
}
