.Categories-Swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  border-radius: 5px;
}

.Category-Slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
  text-align: center;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.Slide-Image-Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid rgb(79, 79, 79); */
  overflow: hidden;

}

.Category-Slide > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
}

.Category-Slide img {
  padding: 10px;

  width: 210px;
  margin-bottom: 10px;
  filter: grayscale(30%);
}

.swiper-button-next,
.swiper-button-prev {
  color: #666;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: #666 !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.mySwiper {
  padding-bottom: 20px;
}

.Categories-Container .swiper-pagination-progressbar {
  top: auto !important;
  bottom: 0 !important;
}

.swiper-pagination-progressbar {
  background: #ddd;
  height: 4px;
}

/* Aktivni deo (iskorišćeni progress) */
.Categories-Container .swiper-pagination-progressbar-fill {
  background: #d87d4a !important;
  background: black !important;

}

.Categories-Title {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #d87d4a;
  color: black;
}