.Categories-Swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  border-radius: 5px;
}

.Categories-Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Category-Image-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  height: 330px;
  width: 330px;
  background-size: cover;
  border: 1px solid rgb(133, 128, 128);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.Category-Link-Container {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: height 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.Category-Image-Container:hover .Category-Link-Container {
  height: 100%;
  opacity: 0.7;
  background-color: black;
  visibility: visible;
  border: 2px solid #d87d4a;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Category-Slide-Link{
  font-weight: bold;
  color: white;
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Category-Swiper-Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #666;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: #666 !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.mySwiper {
  padding-bottom: 20px;
}

.Categories-Container .swiper-pagination-progressbar {
  top: auto !important;
  bottom: 0 !important;
}

.swiper-pagination-progressbar {
  background: #ddd;
  height: 4px;
}

.Categories-Container .swiper-pagination-progressbar-fill {
  background: #d87d4a !important;
  background: black !important;
}

.Categories-Tabs button{
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  .Categories-Swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    border-radius: 5px;
  }
  .Category-Image-Container {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 900px) {
  .Category-Image-Container {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .Category-Image-Container {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 1600px) {
  .Category-Image-Container {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .Category-Image-Container {
    width: 220px;
    height: 220px;
  }
}
