.Home-Main-Content {
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 40px;
}
.Home-Header {
  margin: 0;
}

.Home-Grid-Item {
  margin-bottom: 140px;
}

.Categories-Tabs button{
  font-size: 14px;
}

.Home-Categories-Container {
  margin-top: 10px;
  padding: 0 10px;
}

@media screen and (min-width: 600px) {
  .Home-Main-Content {
    margin-top: 100px;
    padding: 0 100px;
  }
 .Home-Header {
    margin-bottom: 0px
  }
}

@media screen and (min-width: 900px) {
  .Home-Main-Content {
    padding: 0 100px;
    margin-top: 100px;
  }
 .Home-Header {
    margin-bottom: 60px
  }
  .Commercial-Info > h4 {
    margin: 0 0 40px 0;
    text-align: left;
    font-size: 34px;
  }
  .Commercial-Info > p {
    width: unset;
    margin: 0 0 40px 0;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .Home-Main-Content {
    padding: 0 120px;
  }
  .Commercial-Info {
    align-items: start;
    width: 100%;
  }
  .Commercial-Info > h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .Commercial-Info > p {
    width: 80%;
    text-align: left;
  }
  .Commercial-Image {
    background-position: center;
    height: 500px;
    background-size: contain;

    background-position: top;
    order: 1;
    background-position-x:center;
    background-position-y: center;
  }
}

@media screen and (min-width: 1536px) {
   .Home-Main-Content {
    padding: 0 200px 0 200px;
  }
  .Commercial-Image {
    background-position: right;
    background-position-y: top;
    background-size: cover;
    min-height: 540px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
.Home-Main-Content {
    padding: 0 20px;
  }
}