.Home-Main-Content {
  padding: 0 30px;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 100px;
}
  .Home-Header {
    margin: 0;
  }
.Home-Body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}


/* top footer*/
.TopFooter {
  margin-top: 0px;
  justify-content: center;
  text-align: left;
  margin-bottom: 100px;
}

.TopFooter > div{
  border-radius: 8px;
}

.TopFooter > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.TopFooter > div:nth-child(1) > h4{
  font-family: "Manrope-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.43px;
  line-height: 44px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 50px 0 40px 0;
}

.TopFooter > div:nth-child(1) > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  width: 80%;
  text-align: center;
}

.TopFooter > div:nth-child(1) span {
  color: #d87d4a;
}

.TopFooter > div:nth-child(2) {
  overflow: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.TopFooter > div:nth-child(2) > img {
  border-radius: 8px;
}

@media screen and (min-width: 900px) {
  .Home-Main-Content {
    padding: 0 100px;
    margin-top: 150px;
  }
  .TopFooter > div:nth-child(1) > h4 {
    width: 70%;
  }
  .TopFooter > div:nth-child(1) > p {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .Home-Main-Content {
    padding: 0 120px;
  }
  .Home-Header {
  margin-bottom: 100px;
}
  .TopFooter > div:nth-child(1) {
    align-items: start;
    width: 100%;
    margin-top: 30px;
  }
  .TopFooter > div:nth-child(1) > h4 {
    width: 445px;
    text-align: left;
    margin-bottom: 20px;
  }
  .TopFooter > div:nth-child(1) > p {
    width: 445px;
    text-align: left;
  }
  .Footer-Image {
    background-position: center;
    height: 500px;
    background-size: contain;
    background-position: top;
    order: 1;
  }
}

@media screen and (min-width: 1536px) {
   .Home-Main-Content {
    padding: 0 200px 0 200px;
  }
  .Footer-Image {
  background-position: center;
  height: 950px;
  background-size:contain;
  background-position-x:right;
  background-position-y: top;
}
}