.Nav-Items {
  flex-grow: 1;
  gap: 2;
  align-items: 'center';
}

.Link {
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2px;
}

.Link:hover {
  color: #d87d4a;
}

.active {
  color: #d87d4a;
}