

.Collection-Item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.Collection-Item-Thumbnail {
  background-color: #f0f0f0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  padding: 70px;
  box-sizing: border-box;
  width: 100%;
  height: 220px;
}

.Collection-Item-New-Product {
  position: absolute;
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: normal;
  top: 18px;
  left: 50%;
  transform: translate(-50%, -0);
  font-size: 8px;
  width: 100%;
}

.Collection-Item-Information {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  padding: 20px 20px;
}

.Collection-Item-Information > h4 {
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

.Collection-Item-Information > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}

.Collection-Item-Information button {
  background-color: #d87d4a;
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
  padding: 10px 0;
  align-self: center;
}

.Collection-Item-Information button:hover {
  background-color: #FBAF85;
}

.Collection-Item-Information button:disabled {
  background-color: #867b76;
  cursor: unset;
}

@media screen and (min-width: 600px) {
  .Collection-Item {
    /* flex-direction: row; */
    gap: 15px;
  }
  /* .Collection-Item-Thumbnail {
    max-width: 220px;
    min-width: 220px;
    height: 220px;
    background-size: 130px;
  }
  .Collection-Item-Information {
    height: 220px;
    padding: 15px 15px 15px 0;
  }
  .Collection-Item-New-Product {
    font-size: 10px;
    top: 20px;
    left: unset;
    transform: translate(0, -0);;
    width: unset;
  }
  .Collection-Item-Information > h4 {
    font-size: 20px;
    text-align: start;
    margin: unset;
  }

  .Collection-Item-Information > p {
    font-size: 14px;
    text-align: left;
    height: 40px;
    line-clamp: 2;
    -webkit-line-clamp:2;
    margin: unset;
  }

  .Collection-Item-Information button {
    align-self: flex-start;
    font-size: 12px;
    padding: 10px 0;
    width: 140px;
    box-sizing: border-box;
  } */
}

@media screen and (min-width: 900px) {
  .Collection-Item {
    gap: 30px;
    flex-direction: row;

  }
  
  .Collection-Item-Thumbnail {
    max-width: 280px;
    min-width: 280px;
    height: 260px;
    /* background-size: 130px; */
    background-size: cover;
    padding: 30px 30px 30px 0;
  }
  .Collection-Item-Information {
    height: 260px;
  }
  .Collection-Item-Information > h4 {
    font-size: 20px;
    text-align: start;
    margin: unset;
  }
  .Collection-Item-Information > p {
    height: 60px;
    line-clamp: 3;
    -webkit-line-clamp:3;
    font-size: 14px;
    text-align: left;
    height: 40px;
    line-clamp: 2;
    -webkit-line-clamp:2;
    margin: unset;
  }
  .Collection-Item-Information button {
    width: 160px;
    font-size: 14px;
    padding: 10px 0;
    align-self: flex-start;
    box-sizing: border-box;
  }
    .Collection-Item-New-Product {
    font-size: 10px;
    top: 24px;
    left: unset;
    transform: translate(0, -0);;
    width: unset;
  }
}

@media screen and (min-width: 1200px) {
  .Collection-Item-Thumbnail {
    max-width: 300px;
    min-width: 300px;
    height: 280px;
    background-size: cover;
  }
  .Collection-Item-Information {
    height: 280px;
    text-align: left;
  }
  .Collection-Item-New-Product {
    font-size: 11px;
    top: 44px;
  }
  .Collection-Item-Information > h4 {
    font-size: 27px;

  }
  .Collection-Item-Information > p {
    font-size: 15px;
    text-align: left;
  }
}