

.Product-Item-Container {
  width: 100%;
  display: flex;
  gap: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.Box-Shadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.Product-Item-Information {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  justify-content: center;
}

.Product-Item-Information > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.5;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  line-height: 20px;
  text-align: justify;
}

.Product-Item-Information > h6 {
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: normal;
  position: absolute;
  bottom: 265px;
}

.Product-Item-Image {
  background-color: #f0f0f0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px;
  justify-content: center;
  padding: 70px;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .Product-Item-Container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Product-Item-Image {
    width: 100%;
    height: 340px;
  }
  /* .Product-General-Item-Info > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  } */
  /* .Product-General-Item-Info > div > h4 {
    text-align: center;
    width: 350px;
  }
  .Product-General-Item-Info > div > p {
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
  } */
  .New-Product-Container {
    text-align: center;
  }
  .Product-Controls{
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  .Product-Item-Container {
    flex-direction: row;
  }
  .Product-Item-Image {
    max-width: 380px;
    min-width: 380px;
    height: 340px;
    background-size: 180px;
  }
  .Product-Item-Information {
    height: 340px;
  }
  .Product-Controls {
    justify-content: flex-start;
  }
  .Product-General-Item-Info > div > p {
    width: 60%;
    background-color: red;
  }
  /* .Product-General-Item-Info > div > h4 {
    font-size: 33px;
    width: 350px;
    margin-bottom: 20px;
    text-align: left;
  }
  .Product-General-Item-Info > div > p {
    font-size: 13px;
    width: 370px;
    text-align: left;
  }
  .Product-General-New-Product {
    font-size: 14px;
  }
  .Product-General-Item-Info > div {
      width: unset;
      justify-content: flex-start;
      align-items: start;
  } */
}

/*@media screen and (min-width: 1200px) {
  .Product-Item-Image {
    width: 400px;
    height: 340px;
  }
  .Product-General-Item-Info > div > h4 {
    font-size: 40px;
    width: 445px;
    margin-bottom: 33px;
  }
  .Product-General-Item-Info > div > p {
    font-size: 15px;
    width: 600px;
  }
  .Product-General-New-Product {
    font-size: 16px;
  }
} */

@media screen and (min-width: 1536px) {
  .Product-Item-Information {
    /* justify-content: space-between; */
  }
  .Product-Item-Information > h6 {
    font-size: 12px;
  }
  .Product-Item-Information > p {
    /* width: 500px; */
    /* width: 70%; */
  }
}