

.Collection-Item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.Collection-Item-Thumbnail {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  padding: 70px;
  box-sizing: border-box;
  width: 100%;
  height: 340px;
  /* box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4); */
  border-right: 1px solid rgba(0,0,0,0.4);
  transition: background-size 0.3s ease-in-out;
}

.Collection-Item:hover {
  transform: scale(1.01) translateY(0px) translateZ(0);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.4);
}

.Collection-Item:hover .Collection-Item-Thumbnail {
  /* background-size: 320px; */
}

.Collection-Item-New-Product {
  position: absolute;
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: normal;
  top: 18px;
  left: 50%;
  transform: translate(-50%, -0);
  font-size: 8px;
  width: 100%;
}

.Collection-Item-Information {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  padding: 20px 20px;
}

.Collection-Item-Information > h4 {
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  color: #000000;
}

.Collection-Item-Information > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  opacity: 0.7;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}

.Collection-Item-Information button {
  background-color: #d87d4a;
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
  padding: 10px 0;
  align-self: center;
}

.Collection-Item-Information button:hover {
  background-color: #FBAF85;
}

.Collection-Item-Information button:disabled {
  background-color: #867b76;
  cursor: unset;
}

.Collection-Item-Information > .Collection-Item-Price {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  font-weight:6500;
  text-align: left;
  margin-top: 10px;
  font-family: "Manrope-Bold", Helvetica;
  line-height: 20px;
  opacity: 1;
  font-size: 17px;
}


.Collection-Item-Information > .Collection-Item-Price > span {
  color: #d87d4a;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .Collection-Item {
    gap: 15px;
    flex-direction: row;
  }
  .Collection-Item-Thumbnail {
    max-width: 230px;
    min-width: 230px;
    height: 230px;
  }

  .Collection-Item-Information {
    height: 230px;
    text-align: left;
    padding: 10px;
  }
  .Collection-Item-New-Product {
    position: unset;
    transform: unset;
    position: relative;
    align-self: flex-start;
    width: unset;
    left: 0;
  }
  .Collection-Item-Information > h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 100%;
  }
  .Collection-Item-Information > p {
    font-size: 13px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .Collection-Item-Information > button {
    width: 150px;
    font-size: 11px;
    align-self: start;
  }
}

@media screen and (min-width: 900px) {
  .Collection-Item {
    gap: 30px;
    flex-direction: row;

  }
  
  .Collection-Item-Thumbnail {
    max-width: 240px;
    min-width: 240px;
    height: 220px;
    padding: 30px 30px 30px 0;
  }
  .Collection-Item-Information {
    height: 220px;
  }
  .Collection-Item-Information > h4 {
    font-size: 20px;
    text-align: start;
    margin: unset;
  }
  .Collection-Item-Information > p {
    height: 60px;
    line-clamp: 3;
    -webkit-line-clamp:3;
    font-size: 14px;
    text-align: left;
    height: 40px;
    line-clamp: 2;
    -webkit-line-clamp:2;
    margin: unset;
  }
  .Collection-Item-Information button {
    width: 160px;
    font-size: 14px;
    padding: 10px 0;
    align-self: flex-start;
    box-sizing: border-box;
  }
    .Collection-Item-New-Product {
    position: absolute;
    font-size: 10px;
    top: 24px;
    left: unset;
    transform: translate(0, -0);;
    width: unset;
  }
}

@media screen and (min-width: 1200px) {
  .Collection-Item-Thumbnail {
   max-width: 270px;
    min-width: 270px;
    height: 250px;
    padding: 0;
  }
  .Collection-Item-Information {
    padding: 25px 0;
    text-align: left;
    height: 250px;
    justify-content: space-between;
  }
  .Collection-Item-New-Product {
    font-size: 11px;
    top: 44px;
  }
  .Collection-Item-Information > h4 {
    font-size: 22px;
  }
  .Collection-Item-Information > p {
    font-size: 14px;
    text-align: left;
    line-clamp: 3;
    -webkit-line-clamp:3;
    height: 60px;
  }
  .Collection-Item-New-Product {
    top: 25px;
    left: 2px;
    font-size: 9px;
  }
}

@media screen and (min-width: 1536px) {
  .Collection-Item {
  }
  .Collection-Item-Thumbnail {
  }
  .Collection-Item-Information {

  }

}

@media  (max-width: 667px) and (orientation: landscape) {
  .Collection-Item {
    flex-direction: row;
  }
  .Collection-Item-Thumbnail {
    max-width: 650px;
    height: 189px
  }
  .Collection-Item-Information {
    padding-left: 10px;
  }
  .Collection-Item-Information > h4 {
    font-size: 18px;
    text-align: start;
    margin: unset;
  }
  .Collection-Item-Information > p {
    color: #000000;
    font-family: "Manrope-Medium", Helvetica;
    opacity: 0.5;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    line-height: 15px;
    text-align: left;
    font-size: 12px;
    width: 90%;
    padding: 0;
    margin: 0;
  }
  .Collection-Item-Information button{
    font-size: 10px;
    padding: 10px 0;
    width: 60%;
    align-self: start;
  }
  .Collection-Item-New-Product {
    left: 73px;
  }
}



@media (min-width: 668px) and (max-width: 896px) and (orientation: landscape) {
  .Collection-Item {
    flex-direction: row;
  }
  .Collection-Item-Thumbnail {
    max-width: 210px;
    height: 210px
  }
  .Collection-Item-Information {
    height: 210px;
  }
  .Collection-Item-Information > p, .Collection-Item-Information > h4 {
    text-align: start;
    margin-left: 0;
  }
  .Collection-Item-Information {
    padding-left: 5px;
  }
  .Collection-Item-New-Product {
    position: absolute;
    left: 5px;
  }
}