.Items {
  font-size: bold;
}

.Product-Header {
  background-color: #131313;
  height: 140px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 79px;
}

.Product-Header > h3 {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
}

.NavBar-Wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: #131313;
  box-shadow: none;
  border: none;
  z-index: 1;
}

.Nav-Item-Top {
  box-sizing: border-box;
  width: 100%;
  background-color: #131313;
}

.Nav-Item-Middle {
  box-sizing: border-box;
  background-color: #131313;
  width: 100%;
}

.Toolbar-Item-1 {
  text-align: left;
}

.Toolbar-Item-2 {
  padding: 25px 0;
}

.Toolbar-Item-3 {
  text-align: right;
}

.Toolbar-Item-3 > button {
  position: relative;
}

.Nav-Cart-Quantity {
  width: 18px;
  height: 18px;
  background-color: #ec8346;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  top: -5px; left: 3px;
  z-index: 4;
  font-weight: bold;
}

.Logo-Image {
  height: 18px;
}
@media screen and (min-width: 900px) {
  .NavBar-Wrapper {
    padding: 0 80px;
  }
}

@media screen and (min-width: 1200px) {
  .NavBar-Wrapper {
    padding: 0 100px;
  }
  .Logo-Image {
    width: 143px;
    height: 23px;
  }
}

@media screen and (min-width: 1536px) {
  .NavBar-Wrapper {
    padding: 0 200px;
  }
}

/* Menu Drawer Styles */
.MenuNavBar {
  padding: 16px 16px 16px 0 !important;
  min-width: 200px;
}

.MenuNavBar a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 100%;
  padding-left:14px;
}

.MenuNavBar a:hover {
  color: #d87d4a;
  font-weight: 600;
}

.MenuNavBar a.active {
  color: #d87d4a;
  font-weight: 700;
  border-left: 3px solid #d87d4a;
  padding-left: 6px;
  margin: 4px;
}

.MenuNavBar-Title {
  background-color: #d87d4a;
  padding: 0;
  color: white;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}