.gallery-container {
  /* display: flex;
  gap: 16px;
  align-items: center; */
}

.thumbnails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.arrow-button:hover {
  color: #d87d4a;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: row;
}

.thumbnail {
  object-fit: cover;
  cursor: pointer;
  transition: border 0.2s;
  padding: 5px;
  border-left: 5px solid transparent;
  object-fit: contain; /* Omogućava prikaz cele slike bez sečenja */
  background-color: #f0f0f0;
  width: 150px;
  height: 150px;
}

.thumbnail.selected {
  border: 1px solid rgb(216, 210, 210);
  border-left: 5px solid #d87d4a;
  /* border-color: #d87d4a; */
}

.thumbnail:hover {
  border-color: gray;
}

.main-image {
  width: 100%;
  object-fit: cover;
  object-fit: contain;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  background-color: #f0f0f0;
  height: 500px;
}

@media screen and (min-width: 1200px) {
  .thumbnails {
    flex-direction: column;
  }

   .thumbnail {
      width: 100px;
      height: 100px;
   }
   .main-image {
      height: 350px;
   }
}

@media screen and (min-width: 1536px) {
   .thumbnail {
      width: 150px;
      height: 150px;
   }
   .main-image {
      height: 600px;
   }
}