.product-gallery {
  width: 100%;
  margin: auto;
  text-align: center;
  /* border: 1px solid rgb(230, 225, 225);
  border-radius: 5px;
  padding: 10px; */
}

.product-gallery .main-slider {
  width: 100%;
  aspect-ratio: 3/3;
  /* border: 1px solid rgb(230, 225, 225); */
  border-radius: 5px;
  /* background-color: gray; */
}

.product-gallery .main-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-gallery .thumbs-slider {
  margin-top: 10px;
  width: 100%;
  max-width: 800px;
}

.product-gallery .thumbs-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/3;
  /* height: 80px; */
}

.product-gallery .thumbs-slider .swiper-slide:hover {
  opacity: 1;
}

.product-gallery .thumbs-slider .swiper-slide-thumb-active {
  opacity: 1;
  /* border: 2px solid #000; */
  border-radius: 5px;
  box-sizing: border-box;
}

.product-gallery .thumbs-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-gallery .swiper-pagination-progressbar-fill {
  background-color: #D87D4A;
}

@media (min-width: 900px) {
  .product-gallery {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .product-gallery {
    max-width: 500px;
  }
}

@media (min-width: 1536px) {
  .product-gallery {
    max-width: 550px;
  }
}


/* Mobilni telefoni u landscape modu */
@media (max-width: 900px) and (orientation: landscape) {
    .product-gallery {
      /* height: 50vh; */
    }
  .product-gallery .main-slider {
    aspect-ratio: 5/5;
    height: 200px;
    /* max-height: 200px; */
    height: 350px;
  }
  
  .product-gallery .thumbs-slider {
    margin-top: 5px;
  }
  
  .product-gallery .thumbs-slider .swiper-slide {
    /* aspect-ratio: 16/9; */
  }
}