.Footer {
  width: 100%;
  background-color: #131313;
  order: -1;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Footer-Logo-Container {
  text-align: center;
}

.Footer-Description, .Footer-Copyright {
  color: #ffffff;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 0.5;
  text-align: center;
}

 .Footer-Copyright {
  font-size: 14px;
 }

.Footer-Copy-Right p:nth-child(1) {
 color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  width: 540px;
  text-align: left;
}

.Footer-Image {
  background-image: url('/src/assets/images/person.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: right;
  border-radius: 10px;
}

.Footer-Bottom {
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .Footer {
    justify-content: start;
    height: unset;
    padding: 40px;
  }
  .Footer-Description, .Footer-Copyright {
    text-align: left;
  }
  .Footer-Bottom {
    margin-top: 10px;
  }
}

@media screen and (min-width: 900px) {
  .Footer {
    padding: 65px 80px 48px 80px;
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
 .Footer {
    padding: 65px 100px 48px 100px;
  }
}

@media screen and (min-width: 1536px) {
 .Footer {
  padding: 40px 200px 40px 200px;
}
}