.Product-General-Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Product-General-Info > h4 {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.43px;
  line-height: 44px;
  width: 445px;
  margin-bottom: 32px;
}

.Product-General-Info > p {
  color: #000000;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  width: 445px;
  margin-bottom: 40px;
}

.New-Product {
  color: #d87d4a;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: normal;
  margin-bottom: 16px;
}