.Breadcrumb-Link {
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
}

.Breadcrumbs li:last-child a {
  text-decoration: underline;
  color: #d87d4a;
  font-weight: 700;
  cursor: default;
}