.FeaturedItemTwo {
  border-radius: 8px;
  background-size: auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 350px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.FeaturedItemTwo > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.FeaturedItemTwo > div > a {
  align-self: center;
}

.FeaturedItemTwo > div > a > button {
  border: 1px solid;
  border-color: #000000;
  height: 48px;
  position: relative;
  width: 160px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  color: black;
}

.FeaturedItemTwo > div > a > button:hover {
  background-color: #D87D4A;
  color: white;
}

.FeaturedItemTwo > div > h4 {
  font-family: "Manrope-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2px;
  line-height: normal;
  margin: 0 auto;
  background-color: white;
  color: #D87D4A;
  color: black;

  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
  border: 1px solid black;
}

@media screen and (min-width: 900px) {
  .FeaturedItemTwo {
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1536px) {
  .FeaturedItemTwo {
      height: 400px;
  }
}