.Product {
  padding: 0 348px;
}

.ProductSection-Container {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin-bottom: 240px;
}

.Product-Item-Image {
  background-color: #f0f0f0;
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 450px;
  display: flex;
  justify-content: center;
  padding: 70px;
  box-sizing: border-box;
}
